<h1>
  Event Details
  
</h1><p>
  
  
<table class="table table-striped">
  <tr>
    <td>Title</td>
    <td><%= @event.event_title %></td>
  </tr>
 
<% if (@event.event_url != nil) %>
  <tr>
    <td>URL</td>
    <td><a href="<%= @event.event_url%>" TARGET=_BLANK> More info/Tix</td>
  </tr>
<% end %>


  <tr>
    <td>Venue</td>
    <td><%= @event.venue_name %></td>
  </tr>
  
  <tr>
    <td>Venue City</td>
    <td><%= @event.venue_city %></td>
  </tr>
  
</table>