<table class="table table-striped">
  <tr>
    <th>Venue</th>
    <th>Venue City</th>
  </tr>
  
  <tr>
    <td><%= @venue.name %></td>
    <td><%= @venue.city %></td>
  </tr>

</table>

<%= link_to 'Back', venues_path %>