<% content_for :head do %>
    <%= javascript_include_tag('https://maps.googleapis.com/maps/api/js?key=AIzaSyCdRmB_pEfmCLJwLAVge3EJ1Jtz9ccnssA') %> 
<% end %>  


<!-- fill viewport -->
    <div class="container-fluid">
        <!-- https://developers.google.com/maps/documentation/javascript/tutorial -->
        <div id="map-canvas"></div>

            <!-- http://getbootstrap.com/css/#forms -->
            <form class="form-inline" id="form" role="form">
                <div class="form-group">
                    <label class="sr-only" for="q">City, State, Postal Code</label>
                    <input class="form-control" id="q" placeholder="City, State, Postal Code" type="text"/>
                </div>
            </form>
            <form class="form-inline" id="form-type-selector" role="form">
                <div class="form-group" style="background-color:white">
                    
                
                    
                    <ul class="list-inline">
                       
                        <!-- Iterate Through Each Active venue type -->
                        <% @venue_types.each do |venue_type| %>
                        
                        <!-- Set image -- if image doesn't exist use generic image -->
                        
                        
                        
                        <li><img src="../../assets/<%= venue_type.venue_type %>-40x40.png"><input class="form-control" type="checkbox" label = "<%= venue_type.venue_type %>" name="venue_type" value="<%= venue_type.venue_type %>"></li>

                        <% end %>
                        
                     </ul>
                    
                    
                </div>
            </form>
        </div>
    </div>